<tr id="<%= dom_id stadium %>" class="odd:bg-white even:bg-emerald-50 border">
    <td class="p-3"><%= stadium.stadium_name %></td>
    <td class="p-3">
        <%= Stadium.human_enum_name(:loctype, stadium.loctype) %> <%= stadium.location_name %> <br>
        <% if stadium.district.present? %>
            <%= stadium.district %> <br>
        <% end %>
        <% if stadium.region.present? %>
            <%= stadium.region %> <br>
        <% end %>
        <% if stadium.country.present? %>
            <%= stadium.country %> <br>
        <% end %>
    </td>
    <td class="p-3">
        <% if stadium.address.present? %>
            <%= stadium.address %>
        <% end %>
    </td>
    <td class="p-3 text-center">
        <%= link_to t('button.edit'), edit_stadium_path(stadium), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
    </td>
</tr>