<%= form_with(model: team) do |form| %>
    <form class="w-full max-w-lg">
        <%= render 'shared/form_errors_messages', object: form.object %>

        <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-1/5 px-3">
                <%= form.label :team_type, t('.team_type'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.text_field :team_type, placeholder: t('.placeholder.team_type'), class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
            </div>

            <div class="w-full md:w-4/5 px-3">
                <%= form.label :name, t('.name'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.text_field :name, placeholder: t('.placeholder.name'),  autofocus: true, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-1/2 px-3">
                <%= form.label :represent, t('.represent'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.text_field :represent, placeholder: t('.placeholder.represent'), class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
            </div>

            <div class="w-full md:w-1/2 px-3">
                <%= form.label :team_logo, t('.team_logo'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <% if team.team_logo.present? %>
                    <img class="w-40 my-2" src="<%= cloudinary_url(team.team_logo.key, height: 200, crop: :scale) %>" style="width:20%;">
                <% end %>
                <%= form.file_field :team_logo, direct_upload: true, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
            </div>
        </div>

        <div class="flex items-center justify-between py-2">
            <%= form.button nil, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" do %>
                <%= t('button.submit') %>
            <% end %>
        </div>
    </form>
<% end %>