<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-3xl font-bold leading-none"><%= t('.title') %></div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.team'), new_team_path, method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
</div>

<% if @teams.present? %>
    <div class="py-4 relative overflow-x-auto">
        <table class=" w-full text-sm text-center shadow-md rounded">
            <tbody>
                <tr class="bg-gray-200 border">
                    <th class="p-3"><%= t('.team_logo') %></th>
                    <th class="p-3"><%= t('.name') %></th>
                    <th class="p-3"><%= t('.represent') %></th>
                    <th class="p-3"></th>
                </tr>
                <% @teams.each do |team| %>
                    <%= render team %>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.teams_empty') %></p>
<% end %>

<%= render 'shared/pagy' %>