<div id="<%= dom_id article %>">
    <div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <%= link_to article, class: "" do %>
            <% if article.cover.present? %>
                <img class="rounded-t-lg" src="<%= cloudinary_url(article.cover.key, height: 200, crop: :scale) %>" style="width:100%;">
            <% else %>
                <div class=""><br><br><br><%= t('.cover_absent') %><br><br><br><br></div>
            <% end %>

            <div class="p-4">
                <div class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                    <%= article.title.truncate(55) %>
                </div>
                <div class="text-sm">
                    <%= Article.human_enum_name(:article_type, article.article_type) %> |
                    <% if article.published_at.present? %>
                        <%= I18n.l(article.published_at, format: :long) %>
                        <% if press_service_signed_in? && article.published_at > DateTime.now %>
                            <div class="" style="display:inline-block;">
                                 | <%= t('.scheduled') %>
                            </div>
                        <% end %>
                    <% else %>
                        <% if press_service_signed_in? %>
                            <div class="">
                                 | <%= t('.draft') %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200"><%= article.content.to_plain_text.truncate(128) %></p>
            </div>
        <% end %>
    </div>
</div>