<div class="grid grid-cols-1 sm:grid-cols-12 gap-10">

    <div class="sm:col-span-6 lg:col-span-2">
        <% if @article.cover.present? %>
            <div class="">
                <img class="rounded-md" src="<%= cloudinary_url(@article.cover.key, height: 200, crop: :scale) %>" style="width:100%;">
            </div>
        <% else %>
            <div class="rounded-md bg-slate-500 text-center text-white text-sm font-bold">
                <br><br><br><%= t('.cover_absent') %><br><br><br><br>
            </div>
        <% end %>
    </div>

    <div class="sm:col-span-6 lg:col-span-10">
        <div class="mb-2 text-3xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"><h4><%= @article.title %></h4></div>

        <div class="text-sm text-emerald-500">
            <%= link_to articles_path(article_type: @article.article_type), class: "text-emerald-500 hover:text-emerald-600" do %>
                <%= Article.human_enum_name(:article_type, @article.article_type) %>
            <% end %> |
            <% if @article.published_at.present? %>
                <%= I18n.l(@article.published_at, format: :long) %>
                <% if press_service_signed_in? && @article.published_at > DateTime.now %>
                    <div class="" style="display:inline-block;">
                        | <%= t('.scheduled') %>
                    </div>
                <% end %>
            <% else %>
                <% if press_service_signed_in? %>
                    <div class="" style="display:inline-block;">
                        <%= t('.draft') %>
                    </div>
                <% end %>
            <% end %>
        </div>

        
    </div>
</div>

<div class="grid grid-cols-1 mb-2 mt-2 py-2">
    <div>
        <% if @article.content.present? %>
            <div class="text-justify indent-4">
                <%= @article.content %>
            </div>
        <% else %>
            <%= t('.content_absent') %>
        <% end %>
    </div>
</div>

<div class="grid grid-cols-1" data-turbo="true">
    <div>
        <%= link_to t('button.all.articles'), articles_path, class: "bg-sky-500 hover:bg-sky-600 text-white p-2 rounded shadow" %>
        <% if press_service_signed_in? %>
            <%= link_to t('button.edit'), edit_article_path(@article), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
            <%= button_to t('button.delete'), @article, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "bg-red-500 hover:bg-red-600 text-white p-2 rounded shadow", form: {style: 'display:inline-block;'} %>
        <% end %>
    </div>
</div>