<%= form_with(model: tournament) do |form| %>
    <form class="w-full max-w-lg">
        <%= render 'shared/form_errors_messages', object: form.object %>

        <div class="flex flex-wrap -mx-3">
            <div class="w-full px-3">
                <%= form.label :name, t('.name'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.text_field :name, placeholder: t('.placeholder.name'), autofocus: true, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-1/2 px-3">
                <%= form.label :schema_type, t('.schema_type'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.select :schema_type, Tournament.schema_types.keys.map{ |key| [Tournament.human_enum_name(:schema_type, key), key] }, {:prompt => t('.prompt'), :selected => form.object.schema_type}, {:class => "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"} %>
            </div>

            <div class="w-full md:w-1/2 px-3">
            </div>
        </div>

        <div class="flex flex-wrap -mx-3">
            <div class="w-full md:w-1/2 px-3">
                <%= form.label :start_date, t('.start_date'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.date_field :start_date, value: form.object.start_date, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
            </div>

            <div class="w-full md:w-1/2 px-3">
                <%= form.label :end_date, t('.end_date'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                <%= form.date_field :end_date, value: form.object.end_date, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <%= form.button nil, class: "bg-green hover:bg-gray-100 text-gray-800 p-2 border border-gray-400 rounded shadow" do %>
            <%= t('button.submit') %>
            <% end %>
        </div>
    </form>
<% end %>