<tr id="<%= dom_id tournament %>" class="odd:bg-white even:bg-emerald-50 border">
    <td class="p-3"><%= tournament.name %></td>
    <td class="p-3"><%= Tournament.human_enum_name(:schema_type, tournament.schema_type) %></td>
    <td class="p-3"><%= I18n.l(tournament.start_date, format: :long) %></td>
    <td class="p-3">
        <% if tournament.end_date.present? %>
            <%= I18n.l(tournament.end_date, format: :long) %>
        <% end %>
    </td>
    <td class="p-3">
        <%= link_to t('button.show'), tournament, class: "bg-sky-500 hover:bg-sky-600 text-white text-sm p-2 rounded shadow" %>
    </td>
    <td class="p-3">
        <%= link_to t('button.edit'), edit_tournament_path(tournament), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
    </td>
</tr>