<div class="text-start text-3xl font-bold leading-none">
    <% if press_service_signed_in? %>
        <%= link_to @championship.name, tournament_path(@championship), class: "hover:text-[#007bff] hover:fill-[#007bff]" %>
    <% else %>
        <%= @championship.name %>
    <% end %>
</div>

<% if @championship_matches.present? %>
    <div class="py-4 relative overflow-x-auto">
        <table class="w-full text-sm text-left shadow-md rounded">
            <tbody>
                <% stage = '' %>
                <% @championship_matches.each do |game| %>
                    <% if game.stage.present? && stage != game.stage %>
                        <% stage = game.stage %>
                        <tr class="bg-gray-200 border font-bold">
                            <td colspan="7" class="p-3 text-center">
                                <%= render 'shared/game_stage', game: game %>
                            </td>
                        </tr>
                    <% end %>
                    <%= render 'games/game', game: game %>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.geams_empty') %></p>
<% end %>