<div class="grid grid-cols-2 gap-10 mb-2">
    <div class="text-start text-3xl font-bold leading-none"><%= t('.title') %></div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.tournament'), new_tournament_path, method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
</div>

<% if @tournaments.present? %>
    <div class="py-4 relative overflow-x-auto">
        <table class="w-full text-sm text-center shadow-md rounded">
            <tbody>
                <tr class="bg-gray-200 border">
                    <th class="p-3"><%= t('.name') %></th>
                    <th class="p-3"><%= t('.schema_type') %></th>
                    <th class="p-3"><%= t('.start_date') %></th>
                    <th class="p-3"><%= t('.end_date') %></th>
                    <th colspan="2"></th>
                </tr>
                <% @tournaments.each do |tournament| %>
                    <%= render tournament %>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.tournaments_empty') %></p>
<% end %>

<%= render 'shared/pagy' %>
