<div class="grid grid-cols-2 gap-10 mb-2">
    <div class="text-start text-3xl font-bold leading-none"><%= t('.title') %> "<%= @tournament.name %>"</div>
    <div class="text-end my-auto">
        <%= link_to t('button.edit'), edit_tournament_path(@tournament), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
    </div>
</div>

<div class="grid grid-cols-1 gap-10 py-2">
    <h4><%= t('.schema_type') %>: <%= Tournament.human_enum_name(:schema_type, @tournament.schema_type) %></h4>
</div>
<div class="grid grid-cols-1 gap-10 py-2">
    <% if @tournament.end_date.present? %>
        <h4><%= t('.period') %>: <%= I18n.l(@tournament.start_date, format: :long) %> - <%= I18n.l(@tournament.end_date, format: :long) %></h4>
    <% else %>
        <h4><%= t('.period') %>: <%= I18n.l(@tournament.start_date, format: :long) %> - ...</h4>
    <% end %>
</div>

<div class="grid grid-cols-2 gap-10 py-2">
    <div class="text-start text-xl font-bold leading-none"><%= t('.games') %></div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.game'), new_game_path(tournament_id: @tournament.id), method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
</div>
<% if @games.present? %>
    <div class="py-4 relative overflow-x-auto">
        <table class="w-full text-sm text-left shadow-md rounded">
            <tbody>
                <% stage = '' %>
                <% @games.each do |game| %>
                    <% if game.stage.present? && stage != game.stage %>
                        <% stage = game.stage %>
                        <tr class="bg-gray-200 border font-bold">
                            <td colspan="7" class="p-3 text-center">
                                <%= render 'shared/game_stage', game: game %>
                            </td>
                        </tr>
                    <% end %>
                    <%= render 'games/game', game: game %>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.geams_empty') %></p>
<% end %>

<div class="grid grid-cols-2 gap-10 mb-2 p-4">
    <div class="text-start text-xl font-bold leading-none"><%= t('.tournament_teams') %> (<%= @tournament_teams.size %>)</div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.tournament_team'), new_tournament_team_path(tournament_id: @tournament.id), method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
</div>
<% if @tournament_teams.present? %>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-3 mb-3 shadow-md rounded border">
        <% @tournament_teams.each do |tournament_team| %>
            <%= render 'tournament_teams/tournament_team', tournament_team: tournament_team %>
        <% end %>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.tournament_teams_empty') %></p>
<% end %>
