<% if @videos.present? && @games.present? %>
    <%= form_with(model: game_video) do |form| %>
        <form class="w-full max-w-lg">
            <%= render 'shared/form_errors_messages', object: form.object %>

            <div class="flex flex-wrap -mx-3">
                <% if params[:video_id].present? %>
                    <div class="w-full px-3">
                        <%= form.label :game_id, t('.game'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                        <%= select(:game_video, :game_id, options_for_select(@games, selected: form.object.game_id), {prompt: t('.prompt.game')}, {class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                    </div>

                    <div>
                        <%= form.hidden_field :video_id %>
                    </div>
                <% elsif params[:game_id].present? %>
                    <div class="w-full px-3">
                        <%= form.label :video_id, t('.video'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                        <%= select(:game_video, :video_id, options_for_select(@videos, selected: form.object.video_id), {prompt: t('.prompt.video')}, {class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                    </div>

                    <div>
                        <%= form.hidden_field :game_id %>
                    </div>
                <% else %>
                    <div class="w-full px-3">
                        <%= form.label :game_id, t('.game'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                        <%= select(:game_video, :game_id, options_for_select(@games, selected: form.object.game_id), {prompt: t('.prompt.game')}, {class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                    </div>

                    <div class="w-full px-3">
                        <%= form.label :video_id, t('.video'), class: "block text-xl tracking-wide text-gray-700 font-bold mb-2" %>
                        <%= select(:game_video, :video_id, options_for_select(@videos, selected: form.object.video_id), {prompt: t('.prompt.video')}, {class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"}) %>
                    </div>
                <% end %>
            </div>

            <div class="flex items-center justify-between py-2">
                <%= form.button nil, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" do %>
                    <%= t('button.submit') %>
                <% end %>
            </div>
        </form>
    <% end %>

<% elsif @videos.empty? %>
    <div class="container text-center text-danger">
        <h6 class="py-2 font-medium text-red-500"><%= t('.videos_empty') %></h6>
        <%= link_to t('button.add.video'), new_video_path, method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
<% else %>
    <div class="container text-center text-danger">
        <h6 class="py-2 font-medium text-red-500"><%= t('.games_empty') %></h6>
    </div>
<% end %>
