<div class="text-start text-3xl font-bold leading-none">
    <% if params[:team].present? %>
        <% if params[:team] == 'second' %>
            <%= t('.title_second') %>
        <% elsif params[:team] == 'u19' %>
            <%= t('.title_u19') %>
        <% else %>
            <%= t('.title_first') %>
        <% end %>
    <% else %>
        <%= t('.title_first') %>
    <% end %>
</div>

<%= month_calendar(attribute: :game_date, events: @games) do |date, games| %>
  <%= date.day %>
  <% games.each do |game| %>
    <div class="text-center text-white text-bold">
        <%= link_to game do %>
            <% if game.home_team_id == @team_id %>
                <div class="bg-green-500 m-2 p-2 rounded-md">
                    <div class="flex justify-center items-center">
                        <% if game.visitor_team.team_logo.present? %>
                            <img class="rounded-md" src="<%= cloudinary_url(game.visitor_team.team_logo.key, height: 100, crop: :scale) %>" style="width:30%;">
                        <% end %>
                    </div>
                    <%= game.visitor_team.name %>
                </div>
            <% else %>
                <div class="bg-red-500 m-2 p-2 rounded-md">
                    <div class="flex justify-center items-center">
                        <% if game.home_team.team_logo.present? %>
                            <img class="rounded-md" src="<%= cloudinary_url(game.home_team.team_logo.key, height: 100, crop: :scale) %>" style="width:30%;">
                        <% end %>
                    </div>
                    <%= game.home_team.name %>
                </div>
            <% end %>
        <% end %>
    </div>
  <% end %>
<% end %>