<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-3xl font-bold leading-none"><%= t('.title') %></div>
    <% if press_service_signed_in? %>
        <div class="text-end my-auto">
            <%= link_to t('button.edit'), edit_game_path(@game), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
            <%= button_to t('button.delete'), @game, method: :delete, data: { turbo_confirm: t('button.delete_confirm_dependent') }, class: "bg-red-500 hover:bg-red-600 text-white p-2 rounded shadow", form: {style: 'display:inline-block;'} %>
        </div>
    <% end %>
</div>

<div class="px-3 py-3 flex justify-center">
    <table class="w-full bg-white shadow-md rounded border">
        <tbody>
            <tr>
                <td colspan="5" class="text-center">
                    <% if press_service_signed_in? %>
                        <%= link_to @game.tournament.name, tournament_path(@game.tournament), class: "hover:text-[#007bff] hover:fill-[#007bff]" %>
                    <% else %>
                        <%= @game.tournament.name %>
                    <% end %>
                </td>
            </tr>
            <% if @game.stage.present? %>
                <tr>
                    <td colspan="5" class="text-center">
                        <%= render 'shared/game_stage', game: @game %>
                    </td>
                </tr>
            <% end %>
            <% if press_service_signed_in? %>
                <tr>
                    <td colspan="5" class="text-center">
                        <%= Game.human_enum_name(:game_type, @game.game_type) %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td colspan="5" class="text-center">
                    <% if @game.start_time.present? %>
                        <%= I18n.l(@game.game_date, format: :long) %> | <%= I18n.l(@game.start_time) %>
                    <% elsif @game.game_date.present? %>
                        <%= I18n.l(@game.game_date, format: :long) %> | -
                    <% else %>
                        - | -
                    <% end %>
                </td>
            </tr>
            <tr class="p-5">
                <td class="p-3 hidden lg:block">
                    <div class="flex justify-center items-center">
                        <% if @game.home_team.team_logo.present? %>
                            <img class="rounded-md" src="<%= cloudinary_url(@game.home_team.team_logo.key, height: 100, crop: :scale) %>" style="width:100%;">
                        <% end %>
                    </div>
                </td>
                <td class="p-3 text-end">
                    <%= @game.home_team.team_type %> "<%= @game.home_team.name %>"
                </td>
                <td class="p-3 text-center whitespace-nowrap">
                    <% if @game.home_goal.present? %>
                        <%= @game.home_goal %> : <%= @game.visitor_goal %>
                    <% else %>
                        - : -
                    <% end %>
                </td>
                <td class="p-3 text-start">
                    <%= @game.visitor_team.team_type %> "<%= @game.visitor_team.name %>"
                </td>
                <td class="p-3 hidden lg:block">
                    <div class="flex justify-center items-center">
                        <% if @game.visitor_team.team_logo.present? %>
                            <img class="rounded-md" src="<%= cloudinary_url(@game.visitor_team.team_logo.key, height: 100, crop: :scale) %>" style="width:100%;">
                        <% end %>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-center">
                    <%= @game.stadium.stadium_name %>, <%= Stadium.human_enum_name(:loctype, @game.stadium.loctype) %> <%= @game.stadium.location_name %> <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="grid grid-cols-1 mb-2 mt-2 py-2">
    <h4 class="text-center text-lg font-bold"><%= t('.game_protocol') %>:</h4>
    <div>
        <% if @game.game_protocol.present? %>
            <div class="text-justify indent-4">
                <%= @game.game_protocol %>
            </div>
        <% else %>
            <div class="text-center">
                <%= t('.game_protocol_absent') %>
            </div>
        <% end %>
    </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-xl font-bold leading-none"><%= t('.game_videos') %></div>
    <% if press_service_signed_in? %>
        <div class="text-end my-auto">
            <%= link_to t('button.add.video'), new_game_video_path(game_id: @game.id), method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
        </div>
    <% end %>
</div>
<% if @videos.present? %>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3 mb-3">
        <% @videos.each do |video| %>
            <%= render 'videos/video', video: video %>
        <% end %>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.videos_empty') %></p>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-xl font-bold leading-none"><%= t('.game_albums') %></div>
    <% if press_service_signed_in? %>
        <div class="text-end my-auto">
            <%= link_to t('button.add.album'), new_game_album_path(game_id: @game.id), method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
        </div>
    <% end %>
</div>
<% if @albums.present? %>
    <div class="mb-4">
        <% @albums.each do |album| %>
            <div class="mb-2 text-xl truncate leading-tight text-neutral-800 dark:text-neutral-50">
                <%= link_to album, class: "font-medium no-underline hover:underline" do %>
                    <%= album.name %>
                <% end %>
                <% if press_service_signed_in? && @game_albums.present? %>
                    <% @game_albums.each do |game_album| %>
                        <% if game_album.album_id == album.id %>
                            <%= button_to t('button.delete_from_game'), game_album, method: :delete, data: { turbo_confirm: t('button.delete_confirm_from_game') }, class: "bg-pink-500 hover:bg-pink-600 text-white text-sm p-2 rounded shadow", form: {style: 'display:inline-block;'} %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <% if album.photos.attached? %>
                <div class="grid grid-cols-3 md:grid-cols-6">
                    <% album.photos.first(23).each do |photo| %>
                        <div class="p-0">
                            <% if photo.representable? %>
                                <img class="" src="<%= cloudinary_url(photo.key, height: 150, crop: :scale) %>" style="width:100%;">
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.albums_empty') %></p>
<% end %>

<div class="grid grid-cols-1">
    <div>
        <% unless press_service_signed_in? %>
            <%= link_to t('button.back'), :back, class: "bg-sky-500 hover:bg-sky-600 text-white p-2 rounded shadow" %>
        <% end %>
    </div>
</div>