<div class="mb-2 text-3xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"><h4><%= @album.name %></h4></div>

<div class="mb-4">
    <div class="grid grid-cols-3 md:grid-cols-6">
        <% if @album.photos.attached? %>
            <% @album.photos.each do |photo| %>
                <div class="p-0">
                    <% if photo.representable? %>
                        <img class="" src="<%= cloudinary_url(photo.key, height: 150, crop: :scale) %>" style="width:100%;">
                    <% end %>
                </div>
            <% end %>        
        <% end %>        
    </div>
    <% unless @album.photos.attached? %>
        <div class="grid grid-cols-1">
            <div class="font-semibold text-red-700 text-center"><%= t('.albums_empty') %></div>
        </div>
    <% end %>
</div>

<div class="grid grid-cols-1 mt-2">
    <div>
        <% unless press_service_signed_in? %>
            <%= link_to t('button.back'), :back, class: "bg-sky-500 hover:bg-sky-600 text-white p-2 rounded shadow" %>
        <% end %>
        <% album_has_game = "" %>
        <% if @game_albums.present? %>
            <% @game_albums.each do |game_album| %>
                <% if game_album.album_id == @album.id %>
                    <%= link_to t('button.show_game'), game_path(game_album.game_id), class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
                    <% album_has_game = "yes" %>
                <% end %>
            <% end %>
        <% end %>
        <% if press_service_signed_in? %>
            <% if album_has_game != "yes" %>
                <%= link_to t('button.add.game'), new_game_album_path(album_id: @album.id), method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
            <% end %>
            <%= link_to t('button.edit'), edit_album_path(@album), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
            <%= button_to t('button.delete'), @album, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "bg-red-500 hover:bg-red-600 text-white p-2 rounded shadow", form: {style: 'display:inline-block;'} %>
        <% end %>
    </div>
</div>