<div class="mb-2 text-3xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"><h4><%= @album.name %></h4></div>

<div class="grid grid-cols-3 md:grid-cols-6">
    <% if @album.photos.attached? %>
        <% @album.photos.each do |photo| %>
            <div class="p-0">
                <% if photo.representable? %>
                    <img class="" src="<%= cloudinary_url(photo.key, height: 150, crop: :scale) %>" style="width:100%;">
                <% end %>
            </div>
        <% end %>
    <% else %>
        <p class="font-semibold text-red-700 text-center"><%= t('.albums_empty') %></p>
    <% end %>
</div>

<div class="grid grid-cols-1 mt-2">
    <div>
        <% if press_service_signed_in? %>
            <%= link_to t('button.edit'), edit_album_path(@album), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %>
            <%= button_to t('button.delete'), @album, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "bg-red-500 hover:bg-red-600 text-white p-2 rounded shadow", form: {style: 'display:inline-block;'} %>
        <% else %>
            <%= link_to t('button.back'), :back, class: "bg-sky-500 hover:bg-sky-600 text-white text-sm p-2 rounded shadow" %>
        <% end %>
    </div>
</div>