<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-3xl font-bold leading-none"><%= t('.title') %></div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.coach'), new_coach_path, method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
</div>

<% if @coaches.present? %>
    <div class="py-4 relative overflow-x-auto" data-turbo="true">
        <table class="w-full text-sm text-left shadow-md rounded">
            <tbody>
                <tr class="bg-gray-200 border">
                    <th class="p-3"><%= t('.surname') %></th>
                    <th class="p-3"><%= t('.name') %></th>
                    <th class="p-3"><%= t('.middle_name') %></th>
                    <th class="p-3 text-center"><%= t('.position') %></th>
                    <th class="p-3 text-center"><%= t('.which_team') %></th>
                    <th colspan="3"></th>
                </tr>
                <% @coaches.each do |coach| %>
                    <tr class="odd:bg-white even:bg-emerald-50 border">
                        <td class="p-3"><%= coach.surname %></td>
                        <td class="p-3"><%= coach.name %></td>
                        <td class="p-3"><%= coach.middle_name %></td>
                        <td class="p-3 text-center"><%= Coach.human_enum_name(:position, coach.position) %></td>
                        <td class="p-3 text-center"><%= Coach.human_enum_name(:which_team, coach.which_team) %></td>

                        <td class="p-3"><%= link_to t('button.show'), coach, class: "bg-sky-500 hover:bg-sky-600 text-white p-2 rounded shadow" %></td>
                        <td class="p-3"><%= link_to t('button.edit'), edit_coach_path(coach), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %></td>
                        <td class="p-3"><%= button_to t('button.delete'), coach, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "bg-red-500 hover:bg-red-600 text-white p-2 rounded shadow" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.coaches_empty') %></p>
<% end %>

<% if @pagy.present? %>
    <%= render 'shared/pagy' %>
<% end %>