<div id="<%= dom_id player %>" class="p-4">
    <div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <%= link_to player, class: "" do %>
            <% if player.player_photo.present? %>
                <img class="rounded-t-lg" src="<%= cloudinary_url(player.player_photo.key, height: 200, crop: :scale) %>" style="width:100%;">
            <% else %>
                <div class=""><br><br><br><%= t('.player_photo_absent') %><br><br><br><br></div>
            <% end %>

            <div class="p-4">
                <div class="text-3xl text-end text-emerald-800">
                    <%= player.player_number %><br>
                </div>
                <div class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                    <%= player.name %><br>
                    <%= player.surname %><br>
                </div>
            </div>
        <% end %>
    </div>
</div>