<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-3xl font-bold leading-none"><%= t('.title') %></div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.player'), new_player_path, method: :post, class: "bg-emerald-500 hover:bg-emerald-600 text-white p-2 rounded shadow" %>
    </div>
</div>

<% if @players.present? %>
    <div class="py-4 relative overflow-x-auto" data-turbo="true">
        <table class="w-full text-sm text-left shadow-md rounded">
            <tbody>
                <tr class="bg-gray-200 border">
                    <th class="p-3"><%= t('.surname') %></th>
                    <th class="p-3"><%= t('.name') %></th>
                    <th class="text-center p-3"><%= t('.which_team') %></th>
                    <th class="text-center p-3"><%= t('.player_number') %></th>
                    <th colspan="3"></th>
                </tr>
                <% @players.each do |player| %>
                    <tr class="odd:bg-white even:bg-emerald-50 border">
                        <td class="p-3"><%= player.surname %></td>
                        <td class="p-3"><%= player.name %></td>
                        <td class="p-3 text-center"><%= Player.human_enum_name(:which_team, player.which_team) %></td>
                        <td class="p-3 text-center"><%= player.player_number %></td>

                        <td class="p-3"><%= link_to t('button.show'), player, class: "bg-sky-500 hover:bg-sky-600 text-white p-2 rounded shadow" %></td>
                        <td class="p-3"><%= link_to t('button.edit'), edit_player_path(player), class: "bg-amber-500 hover:bg-amber-600 text-white p-2 rounded shadow" %></td>
                        <td class="p-3"><%= button_to t('button.delete'), player, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "bg-red-500 hover:bg-red-600 text-white p-2 rounded shadow" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="font-semibold text-red-700 text-center"><%= t('.players_empty') %></p>
<% end %>

<% if @pagy.present? %>
    <%= render 'shared/pagy' %>
<% end %>